@model User 
@{
    ViewData["Title"] = "Delete User";
}


<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete User</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Nick"></label>
            <input asp-for="Nick" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width: 15%">Delete User</button>
        <a asp-controller="User" asp-action="Index" class="btn btn-secondary" style="width: 10%;">Back to list</a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}